<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Guild Wars 2: Aetherium Calculator</title>

    <!-- CSS requirements -->
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <!-- JS requirements -->
    <script src="lib/angular/angular.min.js"></script>

    <!-- Angular JS files -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>

  <body role="document" ng-app="Gw2Aetherium" ng-controller="Main">
    <div class="container">

      <div class="page-header">
        <h1>Guild Wars 2: Aetherium Calculator</h1>
      </div>

      <!-- Aetherium quantities input fields -->
      <div class="form-horizontal">

        <div class="form-group">
          <label class="col-sm-4 control-label" for="aetherium-current">Current Aetherium</label>
          <div class="col-sm-4">
            <input type="number" class="form-control" id="aetherium-current" ng-model="current">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label" for="aetherium-target">Aetherium Needed</label>
          <div class="col-sm-4">
            <input type="number" class="form-control" id="aetherium-target" ng-model="target">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <button class="btn btn-info calculate">Calculate</button>
          </div>
        </div>

      </div>

      <!-- Explanation / FAQ -->

      <h3>What is <a href="http://wiki.guildwars2.com/wiki/Aetherium">Aetherium</a>?</h3>
      <p>
        Aetherium is a <a href="http://wiki.guildwars2.com/wiki/Guild">guild</a>
        resource that is needed to make many of the available
        <a href="http://wiki.guildwars2.com/wiki/Guild_hall">guild hall</a> upgrades.
        It effectively acts as a time gate, preventing a guild from unlocking many large upgrades
        in quick succession.
      </p>
      <p>
        Aetherium can be viewed in the <em>Guild</em> window, on the <em>Main</em>
        tab, in the bottom-right corner.
      </p>

      <h3>How is Aetherium earned?</h3>
      <p>
        Aetherium is earned by the guild at a fixed rate, initially 1 per 60 seconds. No actions
        are required by the guild members to generate Aetherium.
      </p>
      <p>
        The rate at which Aetherium is earned can be increased by unlocking the
        <a href="http://wiki.guildwars2.com/wiki/Mining_Rate_1">Mining Rate 1</a> and
        <a href="http://wiki.guildwars2.com/wiki/Mining_Rate_2">Mining Rate 2</a>
        upgrades, available after unlocking
        <a href="http://wiki.guildwars2.com/wiki/Mine_Excavation_1">Mine Excavation 1</a>.
      </p>
      <p>
        There is a cap on the amount of Aetherium that can be stored at once; Aetherium production
        stops completely once this cap is reached. This can also prevent a guild from unlocking
        an upgrade that requires more Aetherium than the current cap.
      </p>
      <p>
        The guild's Aetherium capacity can be increased by unlocking <thead>
        <a href="http://wiki.guildwars2.com/wiki/Aetherium_Capacity_1">Aetherium Capacity 1</a> and
        <a href="http://wiki.guildwars2.com/wiki/Aetherium_Capacity_2">Aetherium Capacity 2</a>
        upgrades, available after unlocking
        <a href="http://wiki.guildwars2.com/wiki/Mine_Excavation_1">Mine Excavation 1</a>.
      </p>

    </div>
  </body>

</html>
